body {
    background-color: #efe6f2;
    font-family: 'Orbitron Regular', sans-serif;
}

.body {
    background-color: #efe6f2;
    font-family: 'Orbitron', sans-serif;
    text-transform: uppercase;
    
}

p {
    text-transform: none;
    font-family: 'Obitron Regular', sans-serif;
}

.dis {
    font-family: 'Obitron Medium', sans-serif;
    text-transform: none;
}

.Homepage-Nav {
    list-style-type: none;
    float: right;
    position: relative;
    z-index: 1000;
   }

a {
    color: #1601ed;
}

.b-1-image {
    width: 50%;
    margin-left: 25%;
}

li {
    display: inline;
    margin: 1em;   
  }

  .blog1-bar {
      
    list-style-type: none;
    float: none;
    position: relative;
    z-index: 1000;
  }

.blog1 {
    text-transform: none;
    font-family: 'Obitron Regular', sans-serif;
}

  .body-styling {
      width: 80%;
      height: auto;
      text-justify: unset;
      margin: auto;
      text-align: justify;
      position: relative;
      margin-top: 5%;
  }


.Page-Heading {
    
    font-size: large;
    width: 40%;
    height: 30%;
    margin-left: 100%;
    margin-right: 10%;
    margin-top: 5%;
    display: inline-block;
    float: right;
    position: relative;
    z-index: 500;
    
}

.intro-text {
    text-transform: none;
}

.image {
    position: absolute;
    max-width: 100%;
    height: auto;
    z-index: 1;
}

.h1 {
    display: inline-block;
}