.body {
    background-color: #efe6f2;
    font-family: 'Orbitron', sans-serif;
    text-transform: uppercase;
    
}

ul {
    list-style-type: none;
    float: right;
    position: relative;
    z-index: 1000;
   }

li {
    display: inline;
    margin: 1em;
    
  }


.Page-Heading {
    
    font-size: large;
    width: 40%;
    height: 30%;
    margin-left: 100%;
    margin-right: 10%;
    margin-top: 5%;
    display: inline-block;
    float: right;
    position: relative;
    z-index: 500;
    
}

.intro-text {
    text-transform: none;
}

.image {
    position: absolute;
    max-width: 100%;
    height: auto;
    z-index: 1;
}

.h1 {
    display: inline-block;
}